

html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin: 4rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
h1{
   font-size: 3rem; 
}
h2 {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;

}

p {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
    
}



.navegacion {
    background-color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

a {
    text-decoration: none;

}

.enlace {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem;



}

.nav{
    margin: 4rem;
    font-weight:bold;
    font-family: 'Roboto', sans-serif;
    

}



.login{
   text-align: right;
   margin-top: 2rem;
}
.buton{
    border-radius: 6rem;
    background-color: #fff;
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
    border-style: ridge;
   
    
}

.registrate{
    background-color: #000;
    color: #fff;
    padding-right: 0rem;

    
    
}
.inicio_sesion{
    background-color: #fff;
    
    
    
}
.secion{
    background-color: rgb(20, 94, 20);
    color: #fff;
    display: grid;
    height: 50rem;
    margin: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;

    
}


/*Seccion 1*/
.sec1{
display: grid;
grid-template-columns: repeat(2, 1fr);
margin: 2rem;
margin-top: 4rem;

font-weight: 100;

}

.imagen{
    width: 100%;
    height:100%;
}



.grid{
    background-color:rgb(194, 5, 5);
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    

}


.buton_seccion{
    background-color:rgb(194, 5, 5);
    color: #fff;
    border-color: #fff;
    border-style:ridge;

}


footer{
   
    margin: 4rem;
  
    
}

.iconos{
    margin: 1rem;
   
}

.parrafo{
    font-size: 2rem;
}